*{
  background-color: #282c34;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  text-align:center;
  font-weight: 100;
}

#drum-machine{
  display: block;
  width:60vw;
  margin:auto;
  background-color:#3b3b5f;
  padding: 20px;
  border-radius: 5px;
}

#pad-bank{
  display:grid;
  background-color:#3b3b5f;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.drum-pad{
    /* display: block; */
    box-sizing: border-box;
    background-color: rgb(96 139 168);
    padding: 20px; 
    border-radius: 5px;
    flex: 1 1 100px;
    
}

#display{
  border-radius: 5px;
}